#header {
    height : 400px;
    width : 100%;
}

#nav {
    height : 80px;
    width : 100%;
    border-bottom : 1px solid lightslategray;
}

#nav ul {
    font-size: 25px;
    list-style : none;
    vertical-align: middle;
    padding : 0;
}

#nav ul li {
    display : inline-block;
    padding : 20px;
}

#nav > div {
    display : inline-block;
    height : 100%;
}

#nav > div:nth-child(1)
{
    float : right;
}


/*

#m-left {

}

#m-right {

}

*/